body {
  overflow-x: hidden;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
}

p,
figcaption {
  font-family: 'Roboto', sans-serif;
}

/* navbar */
nav {
  background-color: #2c2d30;
  transition: 1s;
}

.bg-dark {
  background-color: #2c2d30 !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(253, 253, 253, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
}

.navbar-link {
  font-family: 'Roboto', sans-serif;
}

/* jumbotron */
.jumbotron {
  padding-top: 6rem;
  min-height: 100vh;
  background-color: #2c2d30;
}

.jumbotron .img-thumbnail {
  border-radius: 20%;
  background-color: #2c2d30;
  border-color: #2c2d30;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  z-index: 99;
}

.jumbotron .img-thumbnail img {
  width: 100%;
  border-radius: 20%;
}

.jumbotron-me {
  padding: 50px 30px 20px;
  background-color: #2c2d30;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  border-radius: 5%;
  z-index: 99;
}

.jumbotron-me p {
  text-align: justify;
  padding-top: 1.2rem;
  line-height: 30px;
}

/* about */
.about {
  padding-top: 7rem;
  background-color: lightgray;
}

.about img {
  box-shadow: 1px 1px 3px #2c2d30;
}

.imghvr-slide-up:hover {
  transform: scale(1.1);
}

.about-me {
  background-color: lightgray;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  border-radius: 5%;
  animation: float 2s linear infinite normal forwards;
}

.about p {
  text-align: justify;
}

/* projects */
.project {
  background-color: #2c2d30;
  padding-top: 7rem;
}

.my-project {
  transition: 1s;
}

.my-project .card {
  background-color: #2c2d30;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.card a {
  transition: 0.8s;
}

.card a:hover {
  background-color: white;
  color: black;
}

.my-project:hover {
  transform: scale(1.1);
  z-index: 1;
}

/* contact */
.contact {
  padding-top: 4rem;
}

/* footer */
footer {
  background-color: #2c2d30;
}

footer i {
  font-size: 3rem;
  padding-right: 5rem;
}

/* scrollbar */
body::-webkit-scrollbar {
  width: 8px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #2c2d30; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: white; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid white; /* creates padding around scroll thumb */
}

/* Desktop version */
@media (min-width: 992px) {
  nav {
    background-color: transparent;
  }

  .bg-dark {
    background-color: #2c2d30 !important;
  }

  .jumbotron {
    padding-top: 13rem;
  }

  .jumbotron-me {
    padding-top: 70px;
  }

  .about .about-img {
    padding-top: 4.2rem;
  }

  .img-me {
    padding-top: 5.5rem;
  }

  /* .about .about-img:hover {
    transform: scale(1.1);
  } */
}

/* animation */
@keyframes kotak {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(10px);
  }

  75% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bulat {
  0% {
    transform: translateX(0) translateY(0);
  }

  25% {
    transform: translateX(30px) translateY(30px);
  }

  50% {
    transform: translateX(0) translateY(0);
  }

  75% {
    transform: translateX(-30px) translateY(-30px);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes bulat-1 {
  0% {
    transform: translateX(0) translateY(0);
  }

  25% {
    transform: translateX(-30px) translateY(-30px);
  }

  50% {
    transform: translateX(0) translateY(0);
  }

  75% {
    transform: translateX(30px) translateY(30px);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}

/* background animation */
.kotak {
  position: absolute;
  top: 70px;
  left: 30px;
  width: 100px;
  height: 100px;
  background-color: #2c2d30;
  border: 13px solid yellow;
  border-radius: 10%;
  animation: kotak 5s linear infinite normal forwards;
}

.triangle {
  position: absolute;
  right: 40px;
  top: 360px;
  width: 0px;
  height: 0px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid lightblue;
  rotate: 315deg;
  animation: kotak 10s linear infinite normal forwards;
  z-index: 2;
}

.triangle-1 {
  position: absolute;
  right: 30px;
  top: 370px;
  width: 0px;
  height: 0px;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid rgba(164, 247, 236, 0.8);
  rotate: 315deg;
  animation: kotak 10s linear infinite normal forwards;
  z-index: 1;
}

.circle {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 60px;
  left: 200px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.85);
  animation: bulat 5s linear infinite normal forwards;
  z-index: 1;
}

.circle-1 {
  position: absolute;
  width: 100px;
  height: 100px;
  bottom: 60px;
  left: 200px;
  border-radius: 50%;
  background-color: darkred;
  animation: bulat-1 5s linear infinite normal forwards;
}

/* image slide up */
.slide-up {
  position: relative;
  display: inline-block;
  margin: 0;
  max-width: 100%;
  background-color: #2c2d30;
  color: #fff;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.slide-up > img {
  vertical-align: top;
  max-width: 100%;
  transition: 1s;
}

.slide-up figcaption {
  background-color: #2c2d30;
  padding: 30px;
  position: absolute;
  top: 10;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  text-align: center;
}

.slide-up::before,
.slide-up::after {
  box-sizing: border-box;
  transition: all 0.35s ease;
}

.slide-up:hover figcaption {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.slide-up:hover img {
  transform: scale(1.1);
}

.slide-up figcaption {
  transform: translateY(100%);
  transition: 0.8s;
}
